{% extends "base.html" %}

{% block content %}
    <form action="{% url 'music_upload' %}" method = "post" enctype="multipart/form-data" data-url ="{% url 'music_upload' %}" >
                {{ upload_form }}
                {% csrf_token %}
                <input type="submit" value="Загрузить">
    </form>
    <div>
        {% for music in queryset %}
            <form action="{% url 'music_download' %}" method="get">
                {% csrf_token %}
                <input name="path" type="hidden" value="{{ music.path }}">
                <input name="name" type="hidden" value="{{ music.name }}">
                <button type="submit">{{ music.name }}</button>
            </form>
        {% endfor %}
    </div>
    <script>

        function sendRequest(method, url, body = null) {
                return new Promise((resolve, reject) => {
                    xhr = new XMLHttpRequest();
                    xhr.open(method, url, true);
                    if (method == 'POST'){
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    }
                    xhr.setRequestHeader('Content-Type', "multipart/form-data");
                    xhr.send(body);
                    xhr.onerror = () => reject('--error--');
                    xhr.onload = () => resolve(JSON.parse(xhr.response));
                })

            }

        title_input = document.querySelector([id = 'id_title'])
        file_input = document.querySelector([id = 'id_file'])

        console.log(title_input.value())
        console.log(file_input.value())

        function uploadFunc(){
            sendRequest('POST', )
        }
    </script>
{% endblock %}
