{% extends "base.html" %}

{% block title %}
  {{ course.name }}
{% endblock %}

{% block content %}
  {% with subject=course.subject %}
      <h5>
          {% for tag in course.tags_set.all %}
              #{{ tag }}
          {% endfor %}
      </h5>
    <h1>
      {{ course.name }}
    </h1>
    <div class="module">
      <h2>Overview</h2>
      <p>
        <a href="{% url "course_list_by_subject" subject.slug %}">
        {{ subject.name }}</a>.
        {{ course.modules.count }} modules.
        Instructor: {{ course.owner.get_full_name }}
      </p>
      {{ course.overview|linebreaks }}
        {% if request.user.is_authenticated %}
            <form action="{% url 'enrolling' %}" method = "post">
                {{ enrollform }}
                {% csrf_token %}
                <input type="submit" value="Enroll now">
            </form>
        <a href="{% url 'product_add' course.id %}" class ="button">Add to cart</a>
        {% else %}
            <a href="{% url 'registration' %}" class ="button">Register to enroll</a>
        {% endif %}

    </div>
  {% endwith %}
    <section class="search">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="text-left">
                  <h5>Просмотры: {{ views_counter }}</h5>
                  <h3>Рейтинг: {{ mean_rating }}</h3>
                <form action="{% url 'course_add_rating' %}" method="post">
                    {% csrf_token %}
                    {{ rating_form }}
                    <input type="hidden" name="course" value="{{ course.id }}">
                    <input class="" type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
        </div>
     </section>

     <section class="create_review">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <div class="">
                <form action="{% url 'course_add_review' %}" method="post" id = "formReview">
                    {% csrf_token %}
                    {{ review_form.text }}
                    {{ review_form.grade }}
                    <input type="hidden" name="parent" id="contactparent" value="">
                    <input type="hidden" name="course" value="{{ course.id }}">
                    <input class="" type="submit" value="Оставить отзыв">
                </form>
              </div>
            </div>
              <div class="col-6">
                  <div class="">
                    {% for review in reviews %}
                        {% if not review.parent %}
                            <div class="mt-3">
                                <h5>{{ review.user }} </h5>
                                <p class="ms-1">{{ review.text }} {{ review.date }}</p>
                                {% if review.grade %}
                                    <p class="ms-1">green</p>
                                {% else %}
                                    <p class="ms-1">red</p>
                                {% endif %}
                                {% if review.user == user %}
                                    <a href="{% url 'review_update' review.pk %}">Исправить отзыв</a>
                                {% endif %}
                                <a href = "#formReview" onclick="addReview('{{ review.user }}', '{{ review.id }}')">Ответить</a>
                            </div>
                            {% if review.childs != None %}
                                {% for child in review.childs.all %}
                                    <div class="ms-5 mt-3">
                                        <h5>{{ child.user }} </h5>
                                        <p class="ms-1">{{ child.text }} {{ child.date }}</p>
                                        {% if child.grade %}
                                            <p class="ms-1">green</p>
                                        {% else %}
                                            <p class="ms-1">red</p>
                                        {% endif %}
                                        {% if child.user == user %}
                                            <a href="{% url 'review_update' review.pk %}">Исправить отзыв</a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                  </div>
              </div>
          </div>
        </div>
     </section>

     <section class="reviews">
        <div class="container-fluid">
          <div class="row">


          </div>
        </div>
      </section>
    <script>
        function addReview(name, id) {
            document.querySelector("input[id=contactparent]").value = id
            document.querySelector("textarea[name=text]").innerHTML = `${name}, `
        }
    </script>
{% endblock %}