{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Searching courses
{% endblock %}

{% block content %}
    {% if search_string == "" %}
        <h1>
           All courses, {{ course_counter }} ones{% if search_by_subject %}, by subject {{ search_by_subject }} {% endif %}
      </h1>
    {% elif not search_string %}
        <h1>
           All courses, {{ course_counter }} ones{% if search_by_subject %}, by subject {{ search_by_subject }} {% endif %}
      </h1>
    {% else %}
      <h1>
           Courses by search "{{ search_string }}", {{ course_counter }} ones{% if search_by_subject %}, by subject {{ search_by_subject }} {% endif %}
      </h1>
    {% endif %}
   <section class="search-searched">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <div class="text-left">
                  <form action= "{% url 'course_list_search' %}" method="get">
                    {{ form|crispy }}
                    {{ sort_form|crispy }}
                    {{ filter_star_form|crispy }}
                    {{ filter_price_form|crispy }}
                    <input class="" type="submit" value="Submit">
                  </form>
          </div>
        </div>
        <div class="col-4">
          <ul class="module list-group  text-left">
            {% for course in courses %}
              {% with subject=course.subject %}
                  <li class="list-group-item ">
                    <h4 class=''>
                      <a href="{% url "course_detail" course.slug %}">
                        {{ course.mean_rating }} {{ course.name }} {{ course.price }} {{ course.created }}
                      </a>
                    </h4>
                       <a href="{% url "course_list_by_subject" subject.slug %}">{{ subject }}</a>
                    <p>
                        {{ course.num_modules }} modules.
                        Instructor: {{ course.owner.get_full_name }}
                    </p>
                  </li>
              {% endwith %}
            {% endfor %}
          </ul>
        </div>
        <div class="col-4 subjects">
              <div class="contents">
                      <h3>Subjects</h3>
                      <ul id="modules">
                        <li {% if not subject %}class="selected"{% endif %}>
                          <a href="{% url "course_list_all" %}">All</a>
                        </li>
                        {% for s in subjects %}
                          <li {% if subject == s %}class="selected"{% endif %}>
                            <a href="{% url "course_list_by_subject" s.slug %}">
                              {{ s.name }}
                              <br><span>{{ s.num_courses }} courses</span>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
              </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}